<h2> Total Spending So Far:</h2>

<% sum = 0  %>
<% for transaction in @transactions %>
<%  sum += transaction.amount %>
<% end %>
<%= sum %>

<h2> Your Spending by Transaction:</h2>

<p>
  <a href="/transactions/new">New Spend</a>
</p>

<table>
  
  <tr>
    <th>Date</th>
    <th></th>
    <th>Amount Spent</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Type of Spend</th>
  </tr>

  <% for transaction in @transactions %>
  <tr>
    <td> <%= transaction.date %> </td>
    <td>|</td>
    <td> <%= transaction.amount %> </td>
    <td>|</td>
    <td> <%= transaction.merchant.merchant_name %></td>
    <td>|</td>
    <td> <%= transaction.tag.tag_name %> </td>
    <td>|</td>
    <td>
    <form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input class="button -- delete" type="submit" value="Delete" />
    </td>
    </tr>
    <% end %>

  </table>



